
:host {
  display: block; /* Asegúrate de que el componente ocupe todo el espacio disponible */
  margin-top: 80px; /* Ajusta esto según la altura de tu menú */
}

/* Espaciado entre campos de formulario */
mat-form-field {
  width: 100%; /* Mantener el ancho completo */
  margin-bottom: 15px; /* Espaciado entre campos */
}
.estudiante-card {

  margin: 1% 10%; /* Margen superior y lateral para separarla del menú */
  max-width: 80%; /* Ajustar el ancho máximo del card */
  width: calc(100% - 40px); /* Ancho completo menos márgenes */
  padding: 1.5%; /* Añadir relleno interno */
  border-radius: 18px; /* Bordes redondeados para una mejor apariencia */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  background: rgb(246, 246, 246);

}
mat-grid-tile {
  background: lightblue;
}

mat-select, .dropdown, .custom-select {
  z-index: 1050; /* Un valor mayor para los desplegables */
  margin: 40px 20px; /* Margen superior y lateral para separarla del menú */


}
