
<app-navbar></app-navbar>
  <!-- Sidebar
  <app-sidebar [status]="status"></app-sidebar>

  <div id="page-content-wrapper" class="flex-grow-1">
    <app-menu (toggle)="clickEvent()"></app-menu>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
-->
<router-outlet></router-outlet>

  <app-footer></app-footer>


<!--
Lógica de la Aplicación
Interacción de Eventos:

Cuando se presiona el botón en Menu:
Se emite un evento al componente padre (AppComponent).
Este evento activa la función clickEvent() en el padre, que invierte el valor de status.
Cambio de Estado:

Dentro del componente padre:
status se invierte: si era true (sidebar visible), se convierte en false (sidebar oculto)
y viceversa.
Este nuevo valor de status se pasa al componente Sidebar como una propiedad.
Actualización del Sidebar:

En el componente Sidebar:
Recibe el valor actualizado de status.
Cambia su apariencia según este nuevo valor, mostrando u ocultando el menú lateral.

Resumen de la Estructura
Padre: AppComponent
Controla el estado y la lógica de la aplicación.
Hijos:
Sidebar: Muestra el menú lateral y recibe el estado.
Menu: Contiene el botón para alternar el estado del sidebar y emite eventos al padre.




-->

